// 
// --------------------------------------------------

// Fonts
// --------------------------------------------------
+font(PFDinTextCondPro-Regular, PFDinTextCondPro-Regular)
=cond-regular
	font-family: "PFDinTextCondPro-Regular", arial, sans-serif
	
+font(PFDinTextCondPro-Medium, PFDinTextCondPro-Medium)
=cond-medium 
	font-family: "PFDinTextCondPro-Medium", arial, sans-serif

+font(PFDinTextCondPro-Bold, PFDinTextCondPro-Bold)
=cond-bold
	font-family: "PFDinTextCondPro-Bold", arial, sans-serif

// Variables & mixins & extend
// --------------------------------------------------

.wrap
	margin-left: auto
	margin-right: auto
	width: 940px
	padding-left: 10px
	padding-right: 10px
%wrap
	margin-left: auto
	margin-right: auto
	width: 940px
	padding-left: 10px
	padding-right: 10px

.align-center
	text-align: center

.input
	display: inline-block
	min-width: 426px
	padding: 12px 14px
	border: 2px solid #35851c
	font-size: 18px
	line-height: 21px
	color: rgba(#000, .4)
	+cond-regular
	&:focus
		@include box-shadow(0 0 10px rgba(54,133,29,.75))
	// &:first-child
	// 	margin-right: 20px

.textarea
	display: inline-block
	min-height: 92px
	resize: vertical
	padding: 12px 14px
	border: 2px solid #35851c
	font-size: 18px
	line-height: 21px
	color: rgba(#000, .4)
	+cond-regular
	&.textarea_form
		width: 908px
	&:focus
		@include box-shadow(0 0 10px rgba(54,133,29,.75))

.send
	display: inline-block
	padding: 11px 59px
	border: 2px solid #35851c
	background-color: #fff
	@include box-shadow(3px 4px 9px rgba(0,0,0,.55), inset 0 1px 0 rgba(255,255,255,.5), inset 0 0 0 1px rgba(255,255,255,.5))
	@include background-image(linear-gradient(bottom, #ffcc16 30%, #ffe60a 70%))
	@include text-shadow(0 1px 0 rgba(255,255,255,.7))
	font-size: 24px
	color: #957500
	text-transform: uppercase
	text-decoration: none
	position: relative
	z-index: 666
	+cond-bold
	&:hover
		border: 2px solid #35851c
		@include background-image(linear-gradient(bottom, #ffd642 30%, #fff284 70%))
	&:active
		border: 2px solid #35851c
		@include box-shadow(3px 4px 9px rgba(0,0,0,.55), inset 0 1px 0 rgba(255,255,255,.5), inset 0 0 0 1px rgba(255,255,255,.5))
		@include background-image(linear-gradient(bottom, #ffe60a 30%, #ffcc16 70%))
// Common blocks
// --------------------------------------------------
body
	font-size: 14px 
	font-family: Arial, sans-serif 
	line-height: 1.4

// Headings
// --------------------------------------------------

// Nav
// --------------------------------------------------

// Header
// --------------------------------------------------
.header
	padding: 15px 0
	position: relative
	z-index: 100
	background: #fff
	&:after
		content: ""
		height: 4px
		background: #000 
		position: absolute
		left: 0
		right: 0
		bottom: -2px
		+rotate(-1.55)
	.header__in
		position: relative
	.logo
		+s(logo)
		position: absolute
		top: 11px
		left: 28px
	.header__meta
		margin-left: 236px
		font-size: 38px
		color: #000
		text-transform: uppercase
		+cond-regular
	.header__numone
		margin-left: 236px
		font-size: 38px
		color: #000
		text-transform: uppercase
		line-height: 1
		letter-spacing: -0.01em
		+cond-bold
	.header__tel
		padding: 30px 20px
		position: absolute
		top: -15px
		right: -34px
		z-index: 100
		&:after
			content: ""
			width: 315px
			height: 135px
			position: absolute
			top: -10px
			right: 23px
			+gh(#64bc46,#82d05b)
			+rotate(-2)
	.header__telnum
		margin-right: 20px
		position: relative
		z-index: 200
		font-size: 34px
		line-height: 1
		color: #FF0 
		+cond-medium
		&:before	
			content: ""
			position: absolute
			left: -21px
			top: 5px
			+s(i-tel)
		a
			font-size: 34px
			color: #FF0 
			text-decoration: none
			+cond-medium
	.header__telcall
		margin-right: 20px
		position: relative
		z-index: 200
		font-size: 18px
		line-height: 1
		color: #FFF
		+cond-regular
		text-align: right
		a
			text-decoration: underline
			font-size: 18px
			color: #FFF
			+cond-regular
			&:hover
				text-decoration: none

.drumm
	margin-bottom: 452px
	position: relative
	&:after
		content: ""
		width: 1193px
		height: 795px
		background: url("../img/drumm.jpg")
		position: absolute
		top: -32px
		left: 50%
		margin-left: -604px
	.drumm__in
		padding-top: 45px
	.drumm__title
		position: relative
		z-index: 1000
		font-size: 38px
		color: #64BC46
		text-align: center
		text-transform: uppercase
		line-height: 1
		+cond-bold
	.drumm__meta
		position: relative
		z-index: 1000
		font-size: 24px
		text-align: center
		text-transform: uppercase
		color: #000
		+cond-regular

.order
	height: 321px
	background: url("../img/bg1.png")
	+cover
	position: relative
	z-index: 500
	&.order_mod
		height: 330px
		position: relative
		top: -23px
		padding-top: 23px
		background: url("../img/bg2.png")
		background-repeat: no-repeat
		background-size: cover
	.order__in 
	.order__title
		margin-bottom: 8px
		padding-top: 68px
		font-size: 32px
		color: #FFF
		text-transform: uppercase
		+cond-regular
		strong
			font-size: 42px
			color: #ff0
			+cond-bold
	.order__row
		margin-bottom: 20px
		font-size: 0
	.order__input
		display: inline-block
		min-width: 428px
		padding: 12px 14px
		border: 2px solid #35851c
		font-size: 18px
		line-height: 21px
		color: rgba(#000, .4)
		+cond-regular
		&:focus
			@include box-shadow(0 0 10px rgba(54,133,29,.75))
		// &:first-child
		// 	margin-right: 20px
	.order__send
		display: inline-block
		padding: 11px 59px
		border: 2px solid #35851c
		background-color: #fff
		@include box-shadow(3px 4px 9px rgba(0,0,0,.55), inset 0 1px 0 rgba(255,255,255,.5), inset 0 0 0 1px rgba(255,255,255,.5))
		@include background-image(linear-gradient(bottom, #ffcc16 30%, #ffe60a 70%))
		@include text-shadow(0 1px 0 rgba(255,255,255,.7))
		font-size: 24px
		color: #957500
		text-transform: uppercase
		text-decoration: none
		+cond-bold
		&:hover
			border: 2px solid #35851c
			@include background-image(linear-gradient(bottom, #ffd642 30%, #fff284 70%))
		&:active
			border: 2px solid #35851c
			@include box-shadow(3px 4px 9px rgba(0,0,0,.55), inset 0 1px 0 rgba(255,255,255,.5), inset 0 0 0 1px rgba(255,255,255,.5))
			@include background-image(linear-gradient(bottom, #ffe60a 30%, #ffcc16 70%))

.proj
	position: relative
	&:after
		content: ""
		width: 100%
		height: 1074px
		background: url("../img/bg1.jpg")
		+cover
		position: absolute
		top: -115px
		left: 0
	&:before
		content: ""
		width: 376px
		height: 690px
		background: url("../img/tipok.png")
		position: absolute
		top: 0
		right: 0 
	.proj__in
		position: relative
		z-index: 1000
	.proj__top
		margin-bottom: 30px
		font-size: 30px
		color: #FFF
		position: relative
		text-align: center
		text-transform: uppercase
		+cond-regular
		&:before
			content: ""
			width: 260px
			height: 2px
			background: #64bc46
			position: absolute
			bottom: -5px
			left: 50%
			margin-left: -130px
	.proj__cont
		color: #FFF
		font-size: 20px
		line-height: 1.2
		+cond-regular
	.proj__title
		font-size: 64px
		text-transform: uppercase
	.proj__media
		margin-bottom: 70px
		margin-top: 20px
		width: 612px
		height: 370px
		border: 4px solid #fff
	.proj__caro 
		.proj__caro-items
			+clr
		.proj__caro-item
			margin-left: 35px
			width: 160px
			height: 110px
			float: left
			&:first-child
				margin-left: 0
		.proj__caro-title
			color: #FFF
			font-size: 24px
			text-transform: uppercase
			+cond-regular
		.proj__caro-media
			width: 152px
			height: 102px
			overflow: hidden
			display: inline-block
			border: 4px solid #fff
			img
				display: block

.touring
	margin-top: 175px
	margin-bottom: -45px
	position: relative
	z-index: 10
	&:before
		content: ""
		width: 100%
		height: 103px
		background: url("../img/i-line.jpg")
		+cover
		position: absolute
		top: -128px
		left: 0
	.touring__in
		position: relative
		&:before
			content: ""
			width: 549px
			height: 534px
			background: url("../img/pedobear.jpg")
			position: absolute
			top: -13px
			left: -305px
	.touring__content
		padding-left: 242px
	.touring__top
		margin-bottom: 40px
		font-size: 30px
		text-transform: uppercase
		color: #000
		+cond-regular
		position: relative
		&:after
			content: ""
			width: 260px
			height: 2px
			background: #64BC46
			position: absolute
			bottom: 0px
			left: 50%
			margin-left: -253px
	.touring__list
		ul
			font-size: 0
			margin-left: -35px
		li
			margin-bottom: 46px
			margin-left: 35px
			display: inline-block
			vertical-align: top
			a
				text-decoration: none
		.touring__media
			width: 145px
			height: 134px
			border-radius: 50%
			background: #64BC46
		.touring__media-in
			width: 130px
			height: 126px
			border-radius: 50%
			overflow: hidden
			img
				// max-width: 100%
		.touring__title
			color: #000
			font-size: 18px
			text-transform: uppercase
			text-align: center
			+cond-regular

.popular
	position: relative
	z-index: 200
	&:after
		content: ""
		width: 100%
		height: 482px
		background: url("../img/popular.png")
		position: absolute
		top: -155px
		left: 0
		+cover
	.popular__in
		position: relative
		z-index: 100
	.popular__top
		margin-bottom: 25px
		color: #FFF
		font-size: 30px
		text-transform: uppercase
		text-align: center
		+cond-regular
		position: relative
		&:after
			content: ""
			width: 260px
			height: 2px
			background: #64BC46
			position: absolute
			bottom: -5px
			left: 50%
			margin-left: -130px
	.popular__cont
		position: relative
		.scroller__bar-wrapper
			top: 180px
			left: 0
			right: 0
	.popular__list
		li
			float: left
			margin-right: 20px
		.popular__list-prev, .popular__list-next
			position: absolute
			top: 58px
			cursor: pointer
		.popular__list-prev
			left: -30px
			+s(i-left)
		.popular__list-next
			right: -30px
			+s(i-right)
	.popular__media
		width: 212px
		height: 152px
		border: 4px solid #fff
		img
			display: block

.scroller
	height: 190px !important
.scroller__bar
	cursor: pointer
	&:hover
		background-color: #63bb45
		@include box-shadow(0 0 15px rgba(100,188,70,.45))

.container
	position: relative
	top: -11px
.progress
	position: relative
	&:before
		content: ""
		width: 100%
		height: 608px
		background: url("../img/bg2.jpg")
		+cover
		position: absolute
		top: -89px
		left: 0
	.progress__in
		min-height: 496px
		position: relative
		z-index: 100
	.progress__top
		margin-bottom: 40px
		font-size: 30px
		text-transform: uppercase
		text-align: center
		+cond-regular
		color: #000
		position: relative
		&:after
			content: ""
			width: 260px
			height: 2px
			background: #64BC46
			position: absolute
			bottom: 0px
			left: 50%
			margin-left: -130px
	.progress__diplom
		position: absolute
		top: 82px
		right: 22px
		ul
			+clr
		li
			margin-left: 50px
			float: left
			&:first-child
				margin-left: 0
	.progress__honors
		width: 1000px
		height: 62px
		background: url("../img/stand.png")
		position: absolute
		bottom: 5px
		right: -20px
		.honors__1
			width: 123px
			height: 398px
			background: url("../img/dip5.png")
			position: absolute
			right: 814px
			bottom: 25px
		.honors__2
			width: 250px
			height: 215px
			background: url("../img/dip6.png")
			position: absolute
			right: 465px
			bottom: 3px
		.honors__3
			width: 250px
			height: 215px
			background: url("../img/dip7.png")
			position: absolute
			right: 145px
			bottom: 3px

.choose
	.choose__in
	.choose__top
		margin-bottom: 50px
		font-size: 30px
		text-transform: uppercase
		text-align: center
		+cond-regular
		color: #000
		position: relative
		&:after
			content: ""
			width: 260px
			height: 2px
			background: #64BC46
			position: absolute
			bottom: 0px
			left: 50%
			margin-left: -130px
	.choose__row
		+clr
	.choose___col
		width: 460px
		float: left
	.choose__list
		padding-left: 60px
		.choose__list-meta
			margin-bottom: 40px
			position: relative
			font-size: 24px
			text-transform: uppercase
			+cond-regular
			color: #000
			&._mod
				&:before
					+s(drumm2)
			&:before
				content: ""
				+s(drumm)
				position: absolute
				left: -56px
				top: -15px
			strong
				+cond-bold
				color: #64BC46 
		li
			margin-bottom: 10px
			padding-right: 55px
			position: relative
			font-size: 18px
			color: #000
			+cond-regular
			&:before
				content: ""
				position: absolute
				left: -15px
				top: 5px
				margin-right: 3px
				+s(i-star)
			strong
				+cond-bold

.works
	width: 100%
	min-height: 726px
	background: url("../img/bg5.jpg")
	+cover
	.works__in
		padding-top: 75px
		position: relative
	.works__right
		position: absolute
		top: 12px
		right: -63px
	.works__drummer
		width: 377px
		height: 339px
		background: url("../img/tipok2.png") 
	.works__meta
		text-align: center
		.h2
			color: #FF0
			font-size: 36px 
			+cond-medium
		.h3
			color: #FFF
			font-size: 36px 
			+cond-regular
	.works__top
		margin-bottom: 66px
		font-size: 30px
		text-transform: uppercase
		text-align: center
		+cond-regular
		color: #fff
		position: relative
		&:after
			content: ""
			width: 260px
			height: 2px
			background: #64BC46
			position: absolute
			bottom: 0px
			left: 50%
			margin-left: -130px
	.works__list
		margin-left: 9px
		color: #FFF
		font-size: 24px
		+cond-regular
		ul
			+clr
		li
			width: 213px
			float: left
			text-align: center
			position: relative
			&:after
				content: ""
				position: absolute
				top: 43px
				right: 0
				+s(arr)
			&.li-mod
				&:after
					right: -20px
			.sexy-arr
				+s(sexy-arr)
				position: absolute
				bottom: -120px
				left: 116px
		.works__list-num
			display: inline-block
			margin-bottom: 15px
			width: 100px
			height: 100px
			line-height: 100px
			border-radius: 50%
			background: #64bc46
			font-size: 70px
			+cond-bold
		p
			line-height: 1.2
		strong
			+cond-bold

.order-mod
	margin-top: 20px
	.order__title
		margin-bottom: 8px
		padding-top: 68px
		font-size: 32px
		color: #FFF
		text-transform: uppercase
		+cond-regular
		strong
			font-size: 42px
			color: #ff0
			+cond-bold
	.order__row
		margin-bottom: 20px
		font-size: 0
	.order__input
		display: inline-block
		min-width: 428px
		padding: 12px 14px
		border: 2px solid #35851c
		font-size: 18px
		line-height: 21px
		color: rgba(#000, .4)
		+cond-regular
		&:focus
			@include box-shadow(0 0 10px rgba(54,133,29,.75))
		// &:first-child
		// 	margin-right: 20px
	.order__send
		display: inline-block
		padding: 11px 59px
		border: 2px solid #35851c
		background-color: #fff
		@include box-shadow(3px 4px 9px rgba(0,0,0,.55), inset 0 1px 0 rgba(255,255,255,.5), inset 0 0 0 1px rgba(255,255,255,.5))
		@include background-image(linear-gradient(bottom, #ffcc16 30%, #ffe60a 70%))
		@include text-shadow(0 1px 0 rgba(255,255,255,.7))
		font-size: 24px
		color: #957500
		text-transform: uppercase
		text-decoration: none
		+cond-bold
		&:hover
			border: 2px solid #35851c
			@include background-image(linear-gradient(bottom, #ffd642 30%, #fff284 70%))
		&:active
			border: 2px solid #35851c
			@include box-shadow(3px 4px 9px rgba(0,0,0,.55), inset 0 1px 0 rgba(255,255,255,.5), inset 0 0 0 1px rgba(255,255,255,.5))
			@include background-image(linear-gradient(bottom, #ffe60a 30%, #ffcc16 70%))

.trust
	.trust__in
		position: relative
		top: -18px
		&:after
			content: ""
			width: 450px
			height: 681px
			background: url("../img/tipok3.png")
			position: absolute
			top: -140px
			right: -125px
	.trust__top
		margin-bottom: 50px
		font-size: 30px
		text-transform: uppercase
		text-align: center
		+cond-regular
		color: #000
		position: relative
		&:after
			content: ""
			width: 260px
			height: 2px
			background: #64BC46
			position: absolute
			bottom: 0px
			left: 50%
			margin-left: -130px
	.trust__row
		width: 680px
		margin-bottom: 5px
		+transition(all linear 0.3s)
		&.trust__row_long
			img
				margin-right: 31px
	.trust__2
		display: none
	.trust__more
		float: right
		margin-top: 31px
		margin-right: 50px
		font-size: 24px
		line-height: 1
		color: #0072BC
		text-decoration: none
		border-bottom: 1px dotted #0072BC
		+cond-regular
		&:hover
			border-color: transparent 
	img
		margin-right: 5px
		display: inline-block
		vertical-align: middle
	.logo1
		width: 157px
		height: 71px
		background: url("../img/logo1.jpg") 
	.logo2
		width: 113px
		height: 55px
		background: url("../img/logo2.jpg") 
	.logo3
		width: 163px
		height: 91px
		background: url("../img/logo3.jpg") 
	.logo4
		width: 147px
		height: 69px
		background: url("../img/logo4.jpg") 
	.logo5
		width: 88px
		height: 58px
		background: url("../img/logo5.jpg") 
	.logo6
		width: 110px
		height: 55px
		background: url("../img/logo6.jpg") 
	.logo7
		width: 172px
		height: 33px
		background: url("../img/logo7.jpg") 
	.logo8
		width: 168px
		height: 57px
		background: url("../img/logo8.jpg") 
	.logo9
		width: 652px
		height: 76px
		background: url("../img/logo9.jpg") 
	.logo10
		width: 143px
		height: 76px
		background: url("../img/logo10.jpg") 
	.logo11
		width: 196px
		height: 47px
		background: url("../img/logo11.jpg") 

.performances
	margin-top: -8px
	.performances__in
	.performances__top
		margin-bottom: 50px
		font-size: 30px
		text-transform: uppercase
		text-align: center
		+cond-regular
		color: #000
		position: relative
		&:after
			content: ""
			width: 260px
			height: 2px
			background: #64BC46
			position: absolute
			bottom: 0px
			left: 50%
			margin-left: -130px
	.performances__row
		margin-bottom: 30px
		+clr
	.performances__label
		width: 188px
		float: left
		text-align: center
	.performances__media
		height: 125px
		line-height: 125px
		vertical-align: middle
		img
			display: inline-block
			vertical-align: middle
	.performances__item
	.performances__title
		font-size: 18px
		line-height: 1.2
		color: #000
		+cond-regular

.form
	margin-top: 109px
	background: #F0F0F0
	position: relative
	&:before
		content: ""
		width: 100%
		height: 90px
		background: url("../img/bg3.png")
		position: absolute
		left: 0
		top: -90px
		+cover
	.form__in
		position: relative
		top: -45px
	.form__top
		margin-bottom: 40px
		padding-top: 20px
		font-size: 30px
		text-transform: uppercase
		text-align: center
		+cond-regular
		color: #000
		position: relative
		&:after
			content: ""
			width: 260px
			height: 2px
			background: #64BC46
			position: absolute
			bottom: 0px
			left: 50%
			margin-left: -130px
	.form__addr
		margin-bottom: 25px
		+clr
	.form__addr-map
		width: 470px
		height: 42px
		line-height: 42px
		float: left
		font-size: 18px
		color: #000
		+cond-regular
		&:before
			content: ""
			margin-right: 3px
			display: inline-block
			vertical-align: middle
			+s(i-map)
	.form__addr-tel
		width: 470px
		height: 42px
		line-height: 42px
		float: left
		font-size: 30px
		color: #000
		+cond-regular
		&:before
			content: ""
			margin-right: 3px
			display: inline-block
			vertical-align: middle
			+s(i-tel2)
	.form__title
		margin-bottom: 10px
		font-size: 32px
		text-transform: uppercase
		+cond-regular
	.form__row
		margin-bottom: 17px
		&.form__row_center
			text-align: center

.map
	height: 410px
	margin-top: -68px
	overflow: hidden
	position: relative
	.map__top
		width: 100%
		height: 97px
		background: url("../img/map_bg_top.png")
		position: absolute
		top: 0px
		z-index: 100
		overflow: hidden
		+cover
	.map_wrap
		position: relative
		.map__label
			width: 50px
			height: 57px
			background: url("../img/map-label.png") 
			position: absolute

// Footer
// --------------------------------------------------
.footer
	margin-top: -30px
	position: relative
	.footer__top
		height: 55px
		position: absolute
		top: -6px
		left: 0px
		right: 0
		background: #fff
		+rotate(-1.4)
		z-index: 200
	.footer__line
		height: 10px
		position: absolute
		top: -10px
		left: 0px
		right: 5px
		background: #000
		+rotate(-1)
		z-index: 100
	.footer__in
		padding-top: 100px
	.footer__row
	.footer__logo
		margin-right: 15px
		display: inline-block
		vertical-align: middle
		+s(logo_footer)
	.footer__copy
		margin-right: 30px
		display: inline-block
		vertical-align: middle
		font-size: 12px
		color: #000 
	.footer__social
		margin-right: 28px
		display: inline-block
		vertical-align: middle
		ul
			+clr
		li
			float: left
			margin-left: 10px
			&:first-child
				margin-left: 0
			&.vk
				a
					+s(vk)
			&.fb
				a
					+s(fb)
			&.tw
				a
					+s(tw)
			&.od
				a
					+s(od)
			&.you
				a
					+s(yt)
		a
			display: block
	.footer__tel
		display: inline-block
		vertical-align: middle
		text-align: right
	.footer__tel-num
		font-size: 34px
		color: #000
		+cond-medium
		&:before
			content: ""
			+s(i-tel3)
			display: inline-block
			vertical-align: middle
		a
			font-size: 34px
			color: #000
			+cond-medium
			text-decoration: none
			&:hover
				+opacity(0.8)
	.footer__tel-send
		text-align: right
		font-size: 18px
		color: #0072bc 
		+cond-regular
		a
			font-size: 18px
			color: #0072bc 
			+cond-regular
			&:hover
				text-decoration: none
	.footer__note
		font-size: 10px
		color: rgba(#000, .4)

.overlay
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	background: rgba(#fff, .4)
	+opacity(0)
	+transition(all .4s linear)
	&.is-active
		z-index: 3000
		+opacity(1)
		+transition(all .4s linear)
.popup
	+transition(all .4s linear)
	+opacity(0)
	&.popup_send
		width: 100%
		height: 250px
		padding-top: 71px
		background: url("../img/popup1.png")
		+cover
		position: absolute
		left: 0
		top: 50%
		margin-top: -160px
	&.is-active
		z-index: 4000
		+opacity(1)
		+transition(all .4s linear)
	&.popup_succes
		width: 100%
		height: 250px
		padding-top: 71px
		background: url("../img/popup2.png")
		+cover
		position: absolute
		left: 0
		top: 50%
		margin-top: -160px
	&.popup_gallery
		width: 100%
		height: 748px
		padding-top: 71px
		background: url("../img/popup3.png")
		+cover
		position: absolute
		left: 0
		top: 30px
		color: #fff 
	&.popup_text
		width: 100%
		height: 748px
		padding-top: 71px
		background: url("../img/popup3.png")
		+cover
		position: absolute
		left: 0
		top: 30px
		color: #fff
		.cross
			top: -20px
	.popup__in
		position: relative
	.popup__title
		font-size: 40px
		text-transform: uppercase
		color: #FFF
		text-align: center
		+cond-regular
		&.popup__title_small
			margin-bottom: 30px
			font-size: 30px
		strong
			color: #fff200 
		&.popup__title_mod
			font-size: 32px
			color: #FFF
			strong
				font-size: 42px
				color: #ffff00 
	.popup__row
		margin-bottom: 20px
		&.popup__row_center
			text-align: center
	.popup__social
		position: relative
		z-index: 666
		.popup__social-meta
			margin-bottom: 10px
			font-size: 24px
			color: #FFF 
			text-align: center
			text-transform: uppercase
			+cond-regular
		.popup__social-list
			text-align: center
			ul
				display: inline-block
				+clr
			li
				float: left
				margin-left: 10px
				&:first-child
					margin-left: 0
				&.vk
					a
						+s(vk)
				&.fb
					a
						+s(fb)
				&.tw
					a
						+s(tw)
				&.od
					a
						+s(od)
				&.you
					a
						+s(yt)
			a
				display: block
	.popup__slider
		margin-top: 30px
		position: relative
	.popup__item
		text-align: center
	.popup__media
		display: inline-block
		width: 770px
		height: 460px
		overflow: hidden
		border: 4px solid #ddd
	.popup__slider-left
		top: 225px
		left: 45px
		position: absolute
		cursor: pointer
		+s(i-left)
		&:hover
			// +s(i-left_h)
			// top: 216px
			// left: 29px
			+opacity(0.8)
	.popup__slider-right
		top: 225px
		right: 45px
		position: absolute
		cursor: pointer
		+s(i-right)
		&:hover
			+opacity(0.8)
		// 	+s(i-right_h)
	.popup__text
		width: 800px
		height: 430px
		padding-top: 50px
		overflow: hidden
		position: relative

.cross
	+s(cross)
	position: absolute
	top: -25px
	right: 15px
	cursor: pointer
	&:hover
		+sp(cross_h)
	&.cross_mod
		+s(cross2)
		top: -50px
		right: 50px
		&:hover
			+sp(cross2_h)

.popup-slideshow
	width: 778px
	margin-left: auto
	margin-right: auto

.input-wrap
	display: inline-block
	position: relative
	&:first-child
		margin-right: 20px
	&.is-ok
		&:after
			content: ""
			position: absolute
			top: 18px
			right: 13px
			+s(i-ok)
	&.is-error
		&:after
			content: ""
			position: absolute
			top: 18px
			right: 13px
			+s(i-error)
		input
			border-color: #ff0000
		.error-tooltip
			+s(error-tooltip)
			position: absolute
			top: -48px
			right: 4px
// input
// 	&.is-ok
// 		position: relative
// 		&:after
// 			content: ""
// 			width: 10px
// 			height: 10px
// 			background: red 
// 			position: absolute
// 			top: 5px
// 			right: 5px
